ion-header {
  font-size: 1rem;
}

.swiper {
  width: 100%;
  padding-top: 24px;
}

.swiper-slide {
  background: white center/cover no-repeat;
  width: 280px;
  height: 167px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: none;
  z-index: 10;
}

.swiper-slide-active,
.swiper-slide-prev,
.swiper-slide-next,
.swiper-slide-visible {
  background-color: white;
  box-shadow: none;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.swiper-slide-prev,
.swiper-slide-next,
.swiper-slide-fully-visible {
  height: 167px;
}

.swiper-slide-prev img,
.swiper-slide-next img,
.swiper-slide-fully-visible img {
  height: 100%;
}

ion-toolbar {
  height: 55px;
  background-color: rgb(249, 237, 105);
}

.toolbar-container {
  height: 55px !important;
  width: 100%;
  background-color: rgb(249, 237, 105);
}

ion-label {
  font-size: 0.9rem;
  font-weight: bold;
  h4 {
    font-weight: bold !important;
    font-size: 1.2rem;
  }
  p {
    font-size: 0.7rem;
  }
}

ion-item {
  font-size: 0.8rem;

  ion-thumbnail {
    height: 16vh;
    width: 25vw;
    img {
      border-radius: 8px;
      height: 100%;
      width: 100%;
    }
  }

  h4 {
    font-size: 1rem !important;
    color: #ada549 !important;
  }
}

.distance {
  font-size: 0.8rem;
  padding-top: 0.2vh;
}

.pstyle {
  font-size: 0.82rem !important;
  padding-bottom: 0.2vh;
}