<ion-header>
  <ion-toolbar>
    <ion-title
      ><img id="logo" src="assets/logoFeastFleet.png" alt="company logo"
    /></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-banner [banners]="banners"></app-banner>

  <div class="list-of-cards">
    <ion-list>
      <ion-list-header class="ion-margin-bottom">
        <ion-label>
          <h4>Restaurants nearby</h4>
          <p>Deliciousness delivered by our fleet!</p>
        </ion-label>
      </ion-list-header>
      <ion-item-group *ngIf="restaurants?.length > 0">
        <app-restaurant
          *ngFor="let restaurant of restaurants"
          [restaurant]="restaurant"
        ></app-restaurant>
      </ion-item-group>
    </ion-list>
  </div>
</ion-content>
