<ion-header>
  <ion-toolbar>
    <ion-title mode="md">
      <span>Home</span>
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="assets/pizza.png" alt="Pizza" />
      </div>
      <div class="swiper-slide">
        <img src="assets/chilaquiles.png" alt="Chilaquiles" />
      </div>
      <div class="swiper-slide">
        <img src="assets/burger.png" alt="Burger" />
      </div>
      <div class="swiper-slide">
        <img src="assets/spagBol.png" alt="Spaghetti Bolognese" />
      </div>
      <div class="swiper-slide">
        <img src="assets/sushi.png" alt="Sushi" />
      </div>
      <div class="swiper-slide">
        <img src="assets/tikka.png" alt="Chicken Tikka" />
      </div>
      <div class="swiper-slide">
        <img src="assets/tacos.png" alt="Tacos" />
      </div>
      <div class="swiper-slide">
        <img src="assets/chowMein.png" alt="Chow Mein" />
      </div>
      <div class="swiper-slide">
        <img src="assets/steak.png" alt="Steak" />
      </div>
    </div>
  </div>
</ion-content>
