ion-header {
  font-size: 1rem;
  background-color: rgb(249, 237, 105) !important;
}

ion-toolbar {
  height: 55px;
  background-color: rgb(249, 237, 105) !important;
  --background: rgb(249, 237, 105) !important;
  z-index: 1;
}

ion-title {
  height: 55px;
  background-color: rgb(249, 237, 105) !important;
  padding: 0;
  width: 100%;
  z-index: 10;
}

.toolbar-container {
  height: 55px !important;
  width: 100%;
  background-color: rgb(249, 237, 105);
}

ion-label {
  font-size: 0.9rem;
  font-weight: bold;
  h4 {
    font-weight: bold !important;
    font-size: 1.2rem;
  }
  p {
    font-size: 0.7rem;
  }
}
