ion-header {
  font-size: 1rem;
}

.swiper {
  width: 100%;
  padding-top: 24px;
}

.swiper-slide {
  background: white center/cover no-repeat;
  width: 280px;
  height: 167px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: none;
  z-index: 10;
}

.swiper-slide-active,
.swiper-slide-prev,
.swiper-slide-next,
.swiper-slide-visible {
  background-color: white;
  box-shadow: none;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.swiper-slide-prev,
.swiper-slide-next,
.swiper-slide-fully-visible {
  height: 167px;
}

.swiper-slide-prev img,
.swiper-slide-next img,
.swiper-slide-fully-visible img {
  height: 100%;
}
