// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #F9ED69;
	--ion-color-primary-rgb: 249,237,105;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #dbd15c;
	--ion-color-primary-tint: #faef78;

  --ion-color-secondary: #605f5e;
  --ion-color-secondary-rgb: 96, 95, 94;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #545453;
  --ion-color-secondary-tint: #706f6e;
}
