ion-back-button {
  z-index: 1000;
}

.back {
  background-color: white;
  margin-top: 6px;
  margin-left: 6px;
}

.back-btn {
  background-color: white;
}

.back-icon {
  color: blue;
  font-size: 2rem;
}
