ion-item {
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 5px;
  
    ion-thumbnail {
      height: 16vh;
      width: 25vw;
      img {
        border-radius: 8px;
        height: 100%;
        width: 100%;
      }
    }
  
    h4 {
      font-size: 1rem !important;
      color: #ada549 !important;
    }
  }
  
  .distance {
    font-size: 0.8rem;
    padding-top: 0.2vh;
  }
  
  .pstyle {
    font-size: 0.82rem !important;
    padding-bottom: 0.2vh;
  }

  
ion-label {
    font-size: 0.9rem;
    font-weight: bold;
    h4 {
      font-weight: bold !important;
      font-size: 1.2rem;
    }
    p {
      font-size: 0.7rem;
    }
  }